body {
    text-align: center;
    background-color: #000;
    color: #fff;
  }
  h1 {
    font-size: 40px;
  }
  .wrapper {
    margin: auto;
    width: 80%;
  }
  nav {
    text-align: none;
    width: 100%;
  }
  .wrapper img {
    width: 40%;
  }